.TopNav{
    display: flex;
    align-items: center;
}
.TopNav_EventBanner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color); 
    gap: 10px; /* Space between text and button */
    padding: 5px 20px;
  }
.EventBanner_Description{
    font-family: "Normal" ;
    color: black;
}
.EventBanner_Description1{
    margin: 0 auto; /* Push the <p> to the center */
    font-family: "Normal" ;
    color: black;
}
.EventBanner_Button {
    font-family: "Normal";
    background-color: #12283E;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.EventBanner_Button:hover {
    color: var(--primary-color)
}

.TopNav_Shortcut{
    display: flex;

    background-color: #333333;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    
}
.Shortcut_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.Shortcut_Homepage{
    font-family: "WebTitle";
    font-size: 28px;
    display: inline-block;
}
.Shortcut_NormatCategoryShortcut{
    font-family:"Title";
    display: inline-block;
    padding-top: 3px;
    
}
.Shortcut_DropdownCategoryShortcut{
    font-family:"Title";
    display: inline-flex;
    gap: 5px;
    flex-direction: row;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    padding-top: 3px;
}
.onHover:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.Shortcut_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.ShortcutIcon{
    font-size: 24px;
}
.Shortcut_Icon{
    position: relative;
}
.Shortcut_Icon div{
    text-align: center;
    font-family: "Small";
    font-size: small;
    position: absolute;
    top: -5px;
    right: -7px;    

    padding: 0px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
}
.Shortcut_QuickSearchBar{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 5px
}
.Shortcut_QuickSearchBar input{
    background-color: var(--ghosted-color);
    border-radius: 5px;
    width: 350px;
    font-family : "Normal";
    color: black;
    padding: 5px 10px;
}