@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Small"  
}

* {
  padding: 0;
  margin: 0;
}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
GLOBAL VARIABLE SECTION
*/
@font-face {
  font-family: "Small";
  src: url(../assets/font/static/Inter_18pt-Medium.ttf) format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Thin";
  src: url(../assets/font/static/Inter_24pt-Thin.ttf) format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Normal";
  src: url(../assets/font/static/Inter_24pt-Medium.ttf) format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Title";
  src: url(../assets/font/static/Inter_28pt-Bold.ttf) format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "WebTitle";
  src: url(../assets/font/static/Inter_28pt-BoldItalic.ttf) format("truetype");
  
}
.big-icon{
  color: black;
  font-size: 20px;
  padding: 5px;
  width: 30px;
  height: 30px;
}
.interactive-icon:hover{
  background-color: var(--hover-indicator);
  border-radius: 15px;
  cursor: pointer
}
:root {
  --primary-color: #6FDD00;
  --ghosted-color: #C3C3C3;
  --link-init-color: #0E88F0;
  --link-hover-color: #1892FA;
  --link-click-color: #229CFF;
  --disabled-color: #C3C3C3;
  --enabled-color: #068932;
  --button-hover-color: #10933C;
  --hover-indicator: rgb(200,200,200); /* 50% opacity */
  --click-indicator: rgb(150,150,150)
}