.HomePage {
  padding: 20px;
}
.BriefProductShowcase {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.BriefProductShowcase p {
  font-family: "Title";
  font-size: 28px;
}
.BriefProductShowcase > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
